# Конфигурация базы данных
DATABASE_HOST=localhost     # Хост для базы данных
DATABASE_USER=username      # Имя пользователя базы данных
DATABASE_PASSWORD=password  # Пароль базы данных
DATABASE_PORT=port          # Порт базы данных
DATABASE_NAME=name          # Название базы данных
DJANGO_SETTINGS_MODULE=path_django_module   # Путь к модулю django

SECRET_KEY=your_secret_key  # Секретный код django

STRIPE_SECRET_KEY=test_stripe_key  # Секретный код stripe

REDIS_HOST=localhost        # Хост для redis
REDIS_PORT=port             # Порт redis
REDIS_DB=database_redis     # Номер базы данных redis

EMAIL_HOST_USER=your_email@yandex.ru   # Email
EMAIL_HOST_PASSWORD=your_password      # Пароль приложения

POSTGRES_PASSWORD=your_password    # Пароль postgres
POSTGRES_USER=postgres             # Пользователь postgres
POSTGRES_DB=your_name_db           # Название базы данных
DATABASE_URL=url_database          # URL базы данных
